/* 기본 브라우저 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  /* 로그인 페이지 스타일 */
  .login-page {
    background: url('/Users/hyeonmin/login-page/public/images/login-background1.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;  /* Ensure it covers the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    width: 400px;  /* Increased width */
    padding: 30px;
    height: 500px;  /* Set a specific height */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Ensure items are spaced evenly */
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 30px;
  }
  
  .input-group label {
    flex: 0 0 80px;  /* Label takes a fixed width */
  }
  
  .input-group input {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;  /* Add border for input */
    border-radius: 5px;  /* Add border radius for input */
    font-size: 16px;  /* Adjust font size */
    transition: border 0.3s ease, box-shadow 0.3s ease;  /* Add transition for focus effect */
  }
  .input-group input:focus {
    border-color: #007BFF;  /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  /* Add shadow on focus */
    outline: none;  /* Remove default outline */
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -20px;  /* Add margin-bottom to separate buttons */
    transition: background-color 0.3s ease;  /* Add transition for hover effect */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .signup-button {
    background-color: #28a745;  /* Green color for Sign Up button */
    margin-bottom: 100px;
  }
  
  .signup-button:hover {
    background-color: #218838;  /* Darker green on hover */
  }
  